/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*  colors that look nice #BC6C25*/

:root {
    --primary-color:  #656D4A;
    --secondary-color: #283618 ;
    --accent1-color: #BC6C25;
    /* possible other shade of green #656D4A #5B7549 */
    --accent2-color: #656D4A;

    /* .montserrat-<uniquifier> {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      } 
      
     */
    --heading-font: 'arvo', serif;
    --paragraph-font: "Montserrat", sans-serif;
    --h-font: 'arvo', 'serif';

    --nav-background-color: #656D4A;
    --nav-link-color: #283618;
    --nav-hover-link-color:white; 
    --nav-hover-background-color: #974035;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width:fit-content;
    font-size: 22px;
    margin: 0;
    padding: 0;
     
}

a {
    color: white;
    text-decoration: none;
    max-width: fit-content
}

h2 {
    text-align: center;
    font-family: var(--h-font);
    color:#283618;
}


/*******************************************************
*
*              Header Area
*
********************************************************/

header {
    padding: 15px;
    background-color: var(--accent2-color);
    display: grid;
    padding: 0 0 5px 0;
    align-items: center;
    grid-template-columns: 100px auto;
    position: relative;
    z-index: 2;
}

nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    display: flex; 
}

nav a {
    color: white;
    display: block;
    /* color: var(--nav-link-color); */
    text-decoration: none;
    padding: 1rem;
    border-radius: 12px;

}

#navbar {
    /* overflow: hidden; */
    position: sticky;
    top: 0;
    z-index: 50;
}

nav a:link, nav a:visited {
    /* color: var(--nav-hover-link-color) */
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
}

h1,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    /* text-align: center; */
}

.welcome h4 {
    text-align: center;
}
.welcome p {
    text-align: center;
}

/*******************************************************
*
*              Hero Image Area
*
********************************************************/

/* .home-title {
    font-family: var(--heading-font);
    color: var(--color-white);
    font-size: 2em;
    margin: 10px 0 0 0;
  } */

.hero_image {
    border-style: none;
}

.hero_image {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    /* display: inline-block; */
}

.overlay_text {
    position: absolute;
    text-align: center;
    top: 38%;
    left: 36%;
    color: white;
}

h1 {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 41%;
    color: white;

}

.home_button {
    top: 50%;
    left: 42%;
    position: absolute;
}


/*******************************************************
*
*              Main Area
*
********************************************************/



/* HERE is where the hero heading 1 is! */
.hero h1 {
    position: absolute;
    top: 0%;
    left: 5%;
}

.flex-box {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.flex-box * {
    display: block;
}

.adventure-images{
    display: flex;
    justify-content: space-evenly;
}

.adventure-images img {
    padding: 10px;
    width: 100%;
    height: auto;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px; 
}

.three-column-grid * {
    padding: 10px;
    
}

.three-column-grid p {
    margin: 0;
    padding: 0;
    
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    border-top: 1px solid var(--nav-background-color);
    background-color: #283618;
    text-align: left;
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    color: white;
    flex-flow: row wrap; 
    align-items: center;
    
}

.social_media_icons {

    grid-column-start:5;
    padding-top: 25px; 
    padding-right: 15px;
    padding-bottom: 20px;


}

 .social_media_icons img{
    width: 50px;
    height: auto;
    padding-right: 15px;
 }

.logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
    padding-top: 5px; 
}


.button {
    margin: 1rem;
    background-color: #656D4A;
    /* text-decoration-color: #DDA15E; */
    color: white;
    border: none;
    border-radius: 12px;
    padding: .75rem;
    /* padding: 5rem; */
    font-size: 1.2rem;
    /* font-size: 15.2rem; */
    font-family: arvo;

}

figcaption {
    text-align: center;
}


/* .welcome h1 {
    padding: 0.25rem;
    margin: 0;
    grid-column: 4/8;
    grid-row: 2;
    
  }

.welcome p {
    padding: 0.5em;
    margin: 0;
    grid-column: 4/8;
    grid-row: 3;
  } */

/* p {
    text-align: left;
} */
.contactinfo {
    text-align: center;
}

.form_button {
    margin-left: 565px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

address {
    text-align: center;
}

legend{ 
    outline: 1px solid var(--nav-background-color); width:  200px; 
    margin-left: 300px;
}
 
fieldset{
    /* display: inline-block; */
    width: 20rem;
    margin: 0 auto;
}

.card_img {
    border: 10px solid #283618;
    background-size: contain;
    max-width: 100%;
    height: auto;
    width: auto;
}


#background {
    height: 120vh;
    /* background color should be (light) #DDA15E or (dark) #BC6C25 */
    background-color:#656D4A;
    /* display: grid; */
    /* vertical-align: middle; */
}

.message {
    background-color:#BC6C25;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 50px;
    padding-bottom: 30px;
}



.mountains {
    max-width: 60%;
    height: auto;
    float: left;
}

.message p {
    color: white;
    text-align: center;
}

.message_button {
  margin-left: 150px;
}

.message h2 {
    color: white;
    border-top: 0;
    margin-top: 0;
}

.vertical_flex {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.card_title {
    margin: 0;
    padding: 0;
}

.contactinfo {
    padding-left: 20 px;
}

.map {
    margin-left: 275px;
}

.historyimg {
    border: 10px solid #283618;
    width: 300px;
    height:auto;
    
}
