/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*  colors that look nice #BC6C25*/

:root {
    --primary-color:  #656D4A;
    --secondary-color: #283618 ;
    --accent1-color: #BC6C25;
    /* possible other shade of green #656D4A #5B7549 */
    --accent2-color: #656D4A;

    /* .montserrat-<uniquifier> {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      } 
      
     */
    --heading-font: 'arvo', serif;
    --paragraph-font: "Montserrat", sans-serif;
    --h-font: 'arvo', 'serif';

    --nav-background-color: #656D4A;
    --nav-link-color: #283618;
    --nav-hover-link-color:white; 
    --nav-hover-background-color: #974035;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    /* max-width:fit-content; */
    font-size: 22px;
    margin: 0;
    padding: 0;
     
}

a {
    color: white;
    text-decoration: none;
    max-width: fit-content
}

h2 {
    text-align: center;
    font-family: var(--h-font);
    color:#283618;
}


/*******************************************************
*
*              Header Area
*
********************************************************/

header {
    padding: 15px;
    background-color: var(--accent2-color);
    display: grid;
    padding: 0 0 5px 0;
    align-items: center;
    grid-template-columns: 100px auto;
    position: relative;
    z-index: 2;
}

nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    display: flex; 
}

nav a {
    color: white;
    display: block;
    /* color: var(--nav-link-color); */
    text-decoration: none;
    padding: 1rem;
    border-radius: 12px;
}

#navbar {
    /* overflow: hidden; */
    position: sticky;
    top: 0;
    z-index: 50;
}

nav a:link, nav a:visited {
    /* color: var(--nav-hover-link-color) */
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

h1,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    /* text-align: center; */
}

.welcome h3 {
    text-align: center;
}
.welcome p {
    text-align: center;
}

/*******************************************************
*
*              Hero Image Area
*
********************************************************/

/* .home-title {
    font-family: var(--heading-font);
    color: var(--color-white);
    font-size: 2em;
    margin: 10px 0 0 0;
  } */

.hero-image {
    border-style: none;
}

.hero-image {
    width: 100%;
    height: auto;
}


#hero {
    position: relative;
    /* display: inline-block;
    align-items: center;
    justify-content: center; */
}

.overlay-text {
    /* position: absolute; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 50%;                        horizontal alignment */
    /* top: 45%;                         vertical alignment */
    /*transform: translate(-50%, -45%); /* moves the text halfway of its length and height to correctly place it */
}

.hero-overlay {
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 20%;                         /* vertical alignment */
    transform: translate(-50%, -35%); /* precise centering; see link below */
}

.hero-overlay * {
    margin: 0;
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

#hero h1 {
    color: white;
}

.home-button {
    background-color: #656D4A;
    color: white;
    border: none;
    border-radius: 12px;
    padding: .75rem;
    font-size: 1.2rem;
    font-family: arvo;
}

.home-button:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
}



/*******************************************************
*
*              Main Area
*
********************************************************/

/* #hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} */

/* HERE is where the hero heading 1 is! */


.flex-box {
    justify-content: space-around;
    align-items: center;
    display: flex;
} */


.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px; 
}

.three-column-grid * {
    padding: 10px;
}

.three-column-grid p {
    margin: 0;
    padding: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    border-top: 1px solid var(--nav-background-color);
    background-color: #283618;
    text-align: left;
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    color: white;
    flex-flow: row wrap; 
    align-items: center;
    
}

.social-media-icons {

    grid-column-start:5;
    padding-top: 25px; 
    padding-right: 15px;
    padding-bottom: 20px;


}

 .social-media-icons img{
    width: 50px;
    height: auto;
    padding-right: 15px;
 }

.logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
    padding-top: 5px; 
}


.button {
    margin: 1rem;
    background-color: #656D4A;
    /* text-decoration-color: #DDA15E; */
    color: white;
    border: none;
    border-radius: 12px;
    padding: .75rem;
    /* padding: 5rem; */
    font-size: 1.2rem;
    /* font-size: 15.2rem; */
    font-family: arvo;

}

.button:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
}

figcaption {
    text-align: center;
}


/* .welcome h1 {
    padding: 0.25rem;
    margin: 0;
    grid-column: 4/8;
    grid-row: 2;
    
  }

.welcome p {
    padding: 0.5em;
    margin: 0;
    grid-column: 4/8;
    grid-row: 3;
  } */

p {
    text-align: center;
}

.contactinfo {
    text-align: center;
}

.form-button {
    margin-left: 565px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.form-button:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

address {
    text-align: center;
}

legend{ 
    outline: 1px solid var(--nav-background-color); width:  200px; 
    margin-left: 300px;
}
 
fieldset{
    /* display: inline-block; */
    width: 20rem;
    margin: 0 auto;
}

.card-img {
    border: 10px solid #283618;
    background-size: contain;
    max-width: 100%;
    height: auto;
    width: auto;
}

.card-img:hover{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

#background {
    height: 80vh;
    /* background color should be (light) #DDA15E or (dark) #BC6C25 */
    background-color:#656D4A;
    position: relative;
    /* display: grid; */
    /* vertical-align: middle; */
}

.message {
    background-color:#BC6C25;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 50px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.mountains {
    height: auto;
    max-width: 80vh;
    float: left;
}

.message p {
    color: white;
}

.message-button:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.message h2 {
    color: white;
    border-top: 0;
    margin-top: 0;
}

.vertical-flex {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.card-title {
    margin: 0;
    padding: 0;
}


.map {
    margin-left: 275px;
}

.historyimg {
    border: 10px solid #283618;
    width: 300px;
    height:auto;
    
}

.history-section p {
    padding-left: 5%;
    padding-right: 5%;
    /* transform: translate(-5%, -5%); */
}

.history-section h3 {
    text-align: center;
}

tbody {
    margin: 20px;
}

table.trips-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px; /* This gives the table trips corners */
    overflow: hidden; /* Ensures the border-radius is applied correctly */
}

.trips-table th, .trips-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.trips-table th {
    background-color: #f2f2f2;
}

.trips-table tr:hover {
    background-color: #f1f1f1;
}

.signup-form{
    color: white;
}