@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #F9D362;
    --secondary-color: #878E88;
    --accent1-color: #164367;
    --accent2-color: #974035;

    --heading-font:'Open Sans', serif;
    --paragraph-font:'Open Sans', serif;

    --nav-background-color: #F9D362;
    --nav-link-color: #878E88;
    --nav-hover-link-color: #164367;
    --nav-hover-background-color: #974035;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width:fit-content;
    padding: 20px;
}

h1,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    /* text-align: center; */
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex; 
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-link-color);
}

div.hero {
    position: relative;
    height: max-content;
}

.hero_image {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0%;
    left: 5%;
}

.hero article {
    position: absolute;
    max-width: 700px;
    top: 35%;
    left: 5%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.hero article img {
    width: 30%;
    height: auto;
    position: relative;
    display: block;
    top: 0;
    float: right;
}

header.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 35% 60% 5%;
}

.flex-box {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.flex-box * {
    display: block;
}

.adventure-images{
    display: flex;
    justify-content: space-evenly;
}

.adventure-images img {
    padding: 10px;
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history-section * {
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    border-top: 1px solid var(--nav-background-color);
    background-color: var(--nav-hover-link-color);
    text-align: center;
    padding-top: 40px;
    
}

a {
    color: #F9D362;
}

.social_media_icons {
    display: flex;
    justify-content: flex-end;

}

 .social_media_icons img{
    width: 50px;
    height: auto;
    padding-right: 15px;
 }

.logo {
    width: 100px;
    height: auto;   
}

/* .welcome {

}

.contactform {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0 1em;
    margin: 5px;
}

.contactinfo {
    grid-column: 7 / 10;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 40px 1fr;
} */

.button {
    margin: 1rem;
    background-color: indianred;
    text-decoration-color: bisque;
    color: antiquewhite;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    /* padding: 5rem; */
    font-size: 1.2rem;
    /* font-size: 15.2rem; */

}

div.employeeimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 100px;
    height: auto; 
}

figcaption {
    text-align: center;
}

.welcome {
    text-align: center;
}

